/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Compiled CSS Files
public/css/app.css

# Compiled JS Files
public/js/app

# Copied Vendor Fonts
public/fonts/vendor

